@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
 font-family: /*"sans-serif",*/ "Roboto";
 display: flex;
 flex-direction: column;

}

.header {
 background-color: #1F2937;
 color: white;
 padding-left: 15vw;
 padding-right: 15vw;
}

.thin-header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.thick-header {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: space-between;
    padding: 75px 0;
}

.header-text {
    height: 250px;
    flex: 1 1 auto;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;

}

.links {
    display: flex;
    column-gap: 16px;
    padding-left: 0px;
}

.photo-container {
    align-self: center;
    flex: 1 2 auto;
}

.signup {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup.two {
    border-color: #F9FAF8;
    border-width: 2px;
    border-style: solid;
}

.signup.two:hover {
    background-color: #F9FAF8;
    color: #3882f6;
}


.section-one {
    padding: 10vw;
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vw;
    padding-bottom: 6vw;
}

.text-one {
    margin: 3vw;
    margin-top: 0px;
}

.box-layer {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    gap: 30px;
    margin: auto;
}

.text {
    text-align: center;
}

.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1 1 auto;
}

.blue-boxes {
    /*height: 20vw;
    width: 20vw;*/
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #3882f6;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    
}
.powerup {
    max-width: 95%;
    max-height: 95%;
    border-radius: 15px;
    align-self: center;
}

.powerup.big {
    max-width: 90%;
    max-height: 90%;
}

.section-two {
    padding: 10vw;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;


}

p.quote {
    padding: 20px 50px;
    padding-bottom: 0px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    margin: 0px;
}

.author  {
    align-self: flex-end;
    padding-right: 50px;
    font-size: 18px;
}

.section-three {
    padding-left: 10vw;
    padding-right: 10vw;
}

.blue-container {
    background-color: #3882f6;
    border-radius: 10px;
    margin: 75px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.blue-text-container {
    color: #F9FAF8;   
}

.big-text {
    font-weight: 800;
    font-size: 24px;
}

.small-text {
    font-weight: 300;
    font-size: 16px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.footer-text {
    
}


ul {
    list-style: none;
    padding-left: none;
}

a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  }
